body{
    background-image: url(/images/stage.png);
}
*{
    color: azure;
    font-size: 20px;
    font-family: 'gear font';
    letter-spacing: 0.1rem;
  
}
@font-face {
    font-family: 'gear font';
    src: url(/font/Impact\ -\ Strive.otf);
}
#menuBtns{
    padding-top: 300px;
}
#difficultyBtns{
    padding-top: 350px;
}
.btn{
    width: 400px;
    color: azure;
    font-family: 'gear font';
    letter-spacing: 0.1rem;
}
.btn-color{
    background-image: linear-gradient(to bottom, #540703, #1e0c0e);
}

#stageText{
    background-image: linear-gradient(to bottom, #540703, #1e0c0e);
}
 
#scoreText{
    font-size: 100px;
    color: rgb(45, 97, 240);
}
#questionText{
    font-size: 100px;
    color: rgb(247, 110, 206);
}
#q{
    background-image: linear-gradient(to bottom, #540703, #1e0c0e);
    border-radius: 30px;
    height: 80px;
    width: auto;
    margin: auto;

}
#timer{
    background-color: black;
    border-radius: 300px;
    font-size: 40px;
    margin: auto;
}
#endContainer{
    background-image: linear-gradient(to bottom, #540703, #1e0c0e);
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    height: 100vh; 
}